kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: grafana
  namespace: "{{ grafana_namespace }}"
  labels:
    app: peak
spec:
  to:
    kind: Service
    name: grafana
{% if grafana_ssl|d(False)|bool %}
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
{% endif %}
